<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/user/page-user.html}"
>
<head>
    <title>Giới thiệu</title>
</head>

<div layout:fragment="content">
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 position-relative">
                    <div class="about-img-box">
                        <img src="/user/assets/img/slide-about-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="sinse-box">
                        <h3 class="sinse-title">Công ty bất động sản <br>
                            <span class="text-primary"> Estate Agency</span>
                        </h3>
                    </div>
                </div>
                <div class="col-md-12 section-t8 position-relative">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <img src="/user/assets/img/agent-6.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2  d-none d-lg-block position-relative">
                            <div class="title-vertical d-flex justify-content-start">
                                <span>Độc quyền</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 section-md-t3">
                            <div class="title-box-d">
                                <h3 class="title-d">Những điều tuyệt vời
                                    <span class="color-d">chúng tôi</span>
                                    <br>muốn gửi đến bạn
                                </h3>
                            </div>
                            <p class="color-text-a">
                                Chào mừng bạn đến với công ty Bất động sản của chúng tôi. Chúng tôi tự hào là một trong những công ty hàng đầu trong lĩnh vực bất động sản, luôn mang đến cho khách hàng những dịch vụ tốt nhất và những giải pháp tối ưu nhất.
                            </p>
                            <p class="color-text-a">
                                Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, chúng tôi cam kết sẽ giúp bạn tìm được ngôi nhà mơ ước hoặc đầu tư vào những dự án bất động sản tiềm năng. Chúng tôi luôn đặt lợi ích của khách hàng lên hàng đầu và không ngừng nỗ lực để mang lại sự hài lòng tuyệt đối cho bạn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>