<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/user/page-user.html}"
>
<head>
    <title>Home</title>
</head>
<div layout:fragment="content">
    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel swiper position-relative">
        <div class="swiper-wrapper">

            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/user/assets/img/slide-1.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Chung cư cao cấp
                                            <br> 3183
                                        </p>
                                        <h1 class="intro-title mb-4 ">
                                            <span class="color-b">293 </span> Quốc lộ 1A
                                            <br> Hà Nội
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">Giá bán | 1.000.0000.000 VNĐ</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/user/assets/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Căn hộ cao cấp
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">204 </span> Hồ Tùng Mậu
                                            <br> Hà Nội
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">Giá thuê | 12.000.000 VNĐ</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/user/assets/img/slide-3.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">Nhà phố cao cấp
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">204 </span> Sầm Sơn
                                            <br> Thanh Hóa
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">Giá bán | 500.000.000 VNĐ</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- End Intro Section -->

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Tất cả dịch vụ của chúng tôi</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Dịch vụ Mua bán bất động sản -->
                <div class="col-md-6">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-house-door"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Mua bán bất động sản</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Chúng tôi cung cấp dịch vụ mua bán bất động sản, hỗ trợ khách hàng từ khâu tư vấn, tìm kiếm nhà đất phù hợp,
                                đến hoàn tất thủ tục pháp lý và chuyển nhượng.
                            </p>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Xem thêm
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Dịch vụ Cho thuê bất động sản -->
                <div class="col-md-6">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-door-open"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Cho thuê bất động sản</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Chúng tôi cung cấp dịch vụ cho thuê bất động sản với nhiều lựa chọn nhà ở, văn phòng, và mặt bằng kinh doanh,
                                đáp ứng nhu cầu của mọi khách hàng.
                            </p>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Xem thêm
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Bất động sản mới nhất</h2>
                        </div>
                        <div class="title-link">
                            <a href="/property">Tất cả bất động sản
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="property-carousel" class="swiper">
                <div class="swiper-wrapper">
                    <div class="carousel-item-b swiper-slide" th:each="property : ${properties}">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img th:src="'/media/' + ${property.mainImages}" alt=""
                                     class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a th:href="@{'/property/' + ${property.id}}" th:text="${property.name}"></a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a" th:text="${'Giá bán | ' + T(zerocoder.com.Estate.utils.MoneyUtils).formatMoney(property.salePrice)}"></span>
                                        </div>
                                        <div class="price-box d-flex">
                                            <span class="price-a" th:text="${'Giá thuê | ' + T(zerocoder.com.Estate.utils.MoneyUtils).formatMoney(property.rentPrice)}"></span>
                                        </div>
                                        <a th:href="@{'/property/' + ${property.id}}" class="link-a">
                                            Bấm vào đây để xem chi tiết
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Diện tích</h4>
                                                <span th:text="${property.area} + ' m²'">
                                                <sup>2</sup>
                                            </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Phòng ngủ</h4>
                                                <span th:text="${property.bedRooms}"></span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Phòng tắm</h4>
                                                <span th:text="${property.bathRooms}"></span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Tiện ích</h4>
                                                <span th:text="${property.amenityIds.size()}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
    </section>
    <!-- End Latest Properties Section -->
    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">
                                Phản hồi từ khách hàng
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div id="testimonial-carousel" class="swiper">
                <div class="swiper-wrapper">

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img th:src="@{/user/assets/img/testimonial-1.jpg}" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Chúng tôi rất hài lòng với dịch vụ của công ty, từ khâu tư vấn, tìm kiếm nhà đất, đến hoàn tất thủ tục pháp lý.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img th:src="@{/user/assets/img/mini-testimonial-1.jpg}" alt="" class="testimonial-avatar">
                                        <h5 class="testimonial-author">Zero Coder</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img th:src="@{/user/assets/img/testimonial-2.jpg}" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Gia đình chúng tôi đã tìm được căn nhà mơ ước, cảm ơn công ty đã hỗ trợ chúng tôi trong quá trình tìm kiếm.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img th:src="@{/user/assets/img/mini-testimonial-2.jpg}" alt="" class="testimonial-avatar">
                                        <h5 class="testimonial-author">Hoàng Văn Nam</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                </div>
            </div>
            <div class="testimonial-carousel-pagination carousel-pagination"></div>

        </div>
    </section>
    <!-- End Testimonials Section -->
</div>