<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{common/admin/page-admin.html}"
>
<head>
    <title>Danh sách khách hàng</title>
</head>

<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Danh sách khách hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                <li class="breadcrumb-item active">Khách hàng</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tìm kiếm</h5>
            <form action="/admin/customer" id="searchCustomer" method="get" class="row g-3">
                <div class="col-md-6">
                    <label for="fullName" class="form-label">Tên</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" th:value="${param.fullName}" placeholder="Nhập tên khách hàng. VD(Trần Văn A)">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" th:value="${param.email}" placeholder="Nhập email khách hàng. VD(nguyevana@edu.com)">
                </div>
                <div class="col-md-4">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone" th:value="${param.phone}" placeholder="Nhập số điện thoại khách hàng. VD(0987654321)">
                </div>
                <div class="col-md-4">
                    <label for="idNumber" class="form-label">Số CMND</label>
                    <input type="text" class="form-control" id="idNumber" name="idNumber" th:value="${param.idNumber}" placeholder="Nhập số CMND khách hàng. VD(123456789)">
                </div>
                <div class="col-md-4">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" name="address" th:value="${param.address}" placeholder="Nhập địa chỉ khách hàng. VD(123 Đường ABC)">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="reset" class="btn btn-secondary">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        Làm mới
                    </button>
                </div>

            </form>
        </div>
        <div class="card-body">
            <a href="/admin/customer/add" class="btn btn-success mt-3 mb-3">Thêm mới</a>
            <p sec:authorize="hasAuthority('ADMIN')" class="text-danger" th:if="${customers.size() == 0}">Không có khách hàng nào được tìm thấy</p>
            <p sec:authorize="hasAuthority('ADMIN')"class="text-success" th:if="${customers.size() > 0}">Có tổng cộng [[${pageResponse.totalElements}]] khách hàng</p>
            <p sec:authorize="hasAuthority('EMPLOYEE')" class="text-danger" th:if="${customers.size() == 0}">Không có khách hàng nào đang được quản lý</p>
            <p sec:authorize="hasAuthority('EMPLOYEE')"class="text-success" th:if="${customers.size() > 0}">Có tổng cộng [[${pageResponse.totalElements}]] khách hàng đang quản lý</p>
            <!-- Table Variants -->
            <div class="table-responsive" th:if="${customers.size() > 0}">
                <table class="table">
                    <thead>
                    <tr class="table-info">
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Ngày cập nhật</th>
                        <th scope="col">Người cập nhật</th>
                        <th scope="col">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            th:each="customer, index: ${customers}"
                            th:classappend="${index.count % 2 == 0} ? 'table-light' : 'table-primary'"
                    >
                        <th scope="row" th:text="${index.count} + ${pageResponse.pageSize * (pageResponse.pageNo - 1)}"></th>
                        <td th:text="${customer.fullName}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.gender.description}"></td>
                        <td th:text="${customer.status.description}"></td>
                        <td th:text="${#temporals.format(customer.createdAt, 'HH:mm dd/MM/yyyy')}"></td>
                        <td th:text="${customer.createdBy}"></td>
                        <td th:text="${#temporals.format(customer.updatedAt, 'HH:mm dd/MM/yyyy')}"></td>
                        <td th:text="${customer.updatedBy}"></td>
                        <td>
                            <a th:href="@{'/admin/customer/edit/' + ${customer.id}}" class="btn btn-info btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <button
                                    type="button"
                                    class="btn btn-primary btn-sm btn-assignment"
                                    data-bs-toggle="modal"
                                    data-bs-target="#assignmentModal"
                                    th:data-id-customer="${customer.id}"
                                    th:data-list-employeeids="${customer.employeeIds}"
                            >
                                <i class="bi bi-calendar-check"></i>
                            </button>
                            <!-- Disabled Backdrop Modal -->
                            <button
                                    th:if="${customer.accountId == null}"
                                    type="button"
                                    class="btn btn-danger btn-sm btn-info-account"
                                    data-bs-toggle="modal"
                                    data-bs-target="#disablebackdrop"
                                    th:data-fullname="${customer.fullName}"
                                    th:data-id-customer="${customer.id}"
                            >
                                <i class="bi bi-person-add"></i>
                            </button>
                            <!-- End Disabled Backdrop Modal-->
                            <!-- Change Password Modal -->
                            <button
                                    th:if="${customer.accountId != null}"
                                    type="button"
                                    class="btn btn-warning btn-sm btn-change-password"
                                    data-bs-toggle="modal"
                                    data-bs-target="#changePasswordModal"
                                    th:data-fullname="${customer.fullName}"
                                    th:data-id-account="${customer.accountId}"
                                    th:data-user-name="${customer.userName}"
                            >
                                <i class="bi bi-key"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal add Account -->
                <!--  Start Modal assignmentModal -->
                <div class="modal fade" id="assignmentModal" tabindex="-1" aria-labelledby="assignmentModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Giao cho nhân viên</h5>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrf-assignment"/>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="searchEmployee" type="text" placeholder="Tìm kiếm nhân viên">
                                <div class="invalid-feedback" id="employeeError">Không có nhân viên nào được tìm thấy</div>
                                <div class="form-check mt-3" th:each="employee : ${employees}">
                                    <input class="form-check-input employee-checkbox" type="checkbox" th:value="${employee.id}"/>
                                    <label class="form-check-label" th:text="${employee.fullName} + ' (' + ${employee.phone} + ')'" th:for="${employee.id}"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-primary" id="assignmentEmployeeAdd">Giao việc</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="disablebackdrop">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="text-title-modal"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formAddAccount" method="post">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrf-add-account"/>
                                    <div class="mb-3">
                                        <label for="usernameAccount" class="form-label">Tên đăng nhập</label>
                                        <input type="text" class="form-control" id="usernameAccount" name="username" placeholder="Nhập tên đăng nhập VD(zerocoder,...)">
                                        <div id="usernameError" class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailAccount" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="emailAccount" name="email" placeholder="Nhập email VD(zerocoder@edu.com...)">
                                        <div id="emailError" class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordAccount" class="form-label">Mật khẩu</label>
                                        <input type="password" class="form-control" id="passwordAccount" name="password" placeholder="Nhập mật khẩu">
                                        <div id="passwordError" class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPasswordAcount" class="form-label">Xác nhận mật khẩu</label>
                                        <input type="password" class="form-control" id="confirmPasswordAcount" name="confirmPassword" placeholder="Nhập lại mật khẩu">
                                        <div id="confirmPasswordError" class="invalid-feedback"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Change Password -->
                <div class="modal fade" id="changePasswordModal">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="title-modal-password"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formChangePassword" >
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrf-change-password"/>
                                    <div class="mb-3">
                                        <label for="userNameInfo" class="form-label">Tên đăng nhập</label>
                                        <input type="text" class="form-control" id="userNameInfo" name="username" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordChange" class="form-label">Mật khẩu mới</label>
                                        <input type="password" class="form-control" id="passwordChange" name="password" placeholder="Nhập mật khẩu mới">
                                        <div id="passwordChangeError" class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmChangePassword" class="form-label">Xác nhận mật khẩu</label>
                                        <input type="password" class="form-control" id="confirmChangePassword" name="confirmPassword" placeholder="Nhập lại mật khẩu">
                                        <div id="confirmChangeError" class="invalid-feedback"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sửa mật khẩu</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Table Variants -->
            <div class="card-body" th:if="${pageResponse.totalPages > 1}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageResponse.pageNo <= 1} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'?pageNo=' + ${pageResponse.pageNo - 1}}" aria-label="Previous" th:data-page="${pageResponse.pageNo - 1}">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li
                                class="page-item"
                                th:each="item: ${pageRange}"
                                th:classappend="${item == pageResponse.pageNo} ? 'active' : ''"
                        >
                            <a class="page-link" th:href="@{'?pageNo=' + ${item}}" th:data-page="${item}">[[${item}]]</a>
                        </li>
                        <li class="page-item" th:classappend="${pageResponse.pageNo >= pageResponse.totalPages} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'?pageNo=' + ${pageResponse.pageNo + 1}}" aria-label="Next" th:data-page="${pageResponse.pageNo + 1}">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        let idCustomerAssignment;
        $('.btn-assignment').click(function () {
            idCustomerAssignment = $(this).data('id-customer');
            const employeeIds = $(this).data('list-employeeids');
            $('.employee-checkbox').each(function () {
                console.log($(this).val());
                $(this).prop('checked', employeeIds.includes(parseInt($(this).val())));
            });
        });
        $('#searchEmployee').keyup(function () {
            const value = $(this).val().toLowerCase();
            let found = false;

            $('.form-check').filter(function () {
                if($(this).text().toLowerCase().indexOf(value) > -1) {
                    $(this).show();
                    found = true;
                } else {
                    $(this).hide();
                }
            });

            if (found) {
                $('#employeeError').hide();
            } else {
                $('#employeeError').show();
            }
        });
        $('#assignmentEmployeeAdd').click(function () {
            const data = {
                customerId: idCustomerAssignment,
                employeeIds: []
            };
            $('.employee-checkbox').each(function () {
                if ($(this).is(':checked')) {
                    data.employeeIds.push($(this).val());
                }
            });
            const csrf = $('#csrf-assignment').val();
            $.ajax({
                url: '/api/customer/assignment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': csrf
                },
                success: function () {
                    $('#assignmentModal').modal('hide');
                    window.location.reload();
                    alert('Giao việc thành công');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        $('button[type="reset"]').click(function (event) {
            event.preventDefault();
            $('form input').val('');
        });

        $('#searchCustomer').submit(function (e) {
            e.preventDefault();
            const inputs = $(this).find('input, select');
            inputs.each(function() {
                if ($(this).val().trim().length === 0) {
                    $(this).attr('name', '');
                }
            });
            this.submit();
        });

        // Add account customer
        let fullName, idCustomer;
        $('.btn-info-account').click(function (e) {
            e.preventDefault();
            fullName = $(this).data('fullname');
            idCustomer = $(this).data('id-customer');
            $('#text-title-modal').html('Tạo tài khoản khách hàng: ' + '<strong>' + fullName + '</strong>');
        });

        $('#formAddAccount').submit(function(e) {
            e.preventDefault();
            const data = {
                username: $('#usernameAccount').val(),
                email: $('#emailAccount').val(),
                password: $('#passwordAccount').val(),
                confirmPassword: $('#confirmPasswordAcount').val(),
                id: idCustomer,
                type: 0 // Loại tài khoản khách hàng
            };
            const csrf = $('#csrf-add-account').val();
            $('.invalid-feedback').hide().text('');
            if(data.confirmPassword !== data.password) {
                $('#confirmPasswordError').text('Mật khẩu không khớp').show();
            } else {
                $.ajax({
                    url: '/api/account/add',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: {
                      'X-CSRF-TOKEN': csrf
                    },
                    success: function () {
                        alert('Tạo tài khoản thành công');
                        $('#disablebackdrop').modal('hide');
                        window.location.reload();
                    },
                    error: function (error) {
                        const errors = error.responseJSON.data;
                        $.each(errors, function (key, value) {
                            $(`#${key}Error`).text(value).show();
                        });
                    }
                });
            }
        });

        let idAccount, nameCustomer, userName;
        $('.btn-change-password').click(function (e) {
            e.preventDefault();
            idAccount = $(this).data('id-account');
            nameCustomer = $(this).data('fullname');
            userName = $(this).data('user-name');
            $('#userNameInfo').val(userName);
            $('#title-modal-password').html('Thay đổi mật khẩu cho khách hàng: ' + '<strong>' + nameCustomer + '</strong>');
        });
        $('#formChangePassword').submit(function (e) {
            e.preventDefault();
            const data = {
                id: idAccount,
                passwordChange: $('#passwordChange').val()
            };
            const csrf = $('#csrf-change-password').val();
            $('.invalid-feedback').hide().text('');
            const confirmPassword = $('#confirmChangePassword').val();
            if(data.passwordChange !== confirmPassword) {
                $('#confirmChangeError').text('Mật khẩu không khớp').show();
            } else {
                $.ajax({
                    url: '/api/account/change-password',
                    type: 'Patch',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': csrf
                    },
                    success: function () {
                        alert('Thay đổi mật khẩu thành công');
                        $('#changePasswordModal').modal('hide');
                    },
                    error: function (error) {
                        console.log(error);
                        const errors = error.responseJSON.data;
                        $.each(errors, function (key, value) {
                            $(`#${key}Error`).text(value).show();
                        });
                    }
                });
            }
        });
    </script>
</div>