<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="search-fragment">
    <div class="click-closed"></div>
    <!--/ Form Tìm Kiếm Bắt Đầu /-->
    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Tìm Kiếm Bất Động Sản</h3>
        </div>
        <span class="close-box-collapse right-boxed bi bi-x"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a" id="searchFormProperty" action="/property">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label class="pb-2" for="name">Tên bất động sản</label>
                            <input th:value="${param.name}" type="text" class="form-control form-control-lg form-control-a" id="name" name="name" placeholder="Nhập tên bất động sản">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="type">Loại</label>
                            <select class="form-control form-select form-control-a" id="type" name="type">
                                <option value="">Tất cả loại</option>
                                <option value="HOUSE" th:selected="${#strings.equals(param.type, 'HOUSE')}">Nhà riêng</option>
                                <option value="APARTMENT" th:selected="${#strings.equals(param.type, 'APARTMENT')}">Chung cư</option>
                                <option value="VILLA" th:selected="${#strings.equals(param.type, 'VILLA')}">Biệt thự</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="status">Trạng thái</label>
                            <select class="form-control form-select form-control-a" id="status" name="status">
                                <option value="">Tất cả trạng thái</option>
                                <option value="AVAILABLE" th:selected="${#strings.equals(param.status, 'AVAILABLE')}">Còn trống</option>
                                <option value="RENTED" th:selected="${#strings.equals(param.status, 'RENTED')}">Đã cho thuê</option>
                                <option value="SOLD" th:selected="${#strings.equals(param.status, 'SOLD')}">Đã bán</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="bedroom">Phòng ngủ</label>
                            <input th:value="${param.bedroom}" type="number" class="form-control form-control-lg form-control-a" id="bedroom" name="bedroom" placeholder="Nhập số phòng ngủ">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="bathroom">Phòng tắm</label>
                            <input th:value="${param.bathroom}" type="number" class="form-control form-control-lg form-control-a" id="bathroom" name="bathroom" placeholder="Nhập số phòng tắm">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="salePrice">Giá bán (VNĐ)</label>
                            <input th:value="${param.salePrice}" type="number" class="form-control form-control-lg form-control-a" id="salePrice" name="salePrice" placeholder="Nhập giá bán">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="rentPrice">Giá thuê (VNĐ/tháng)</label>
                            <input th:value="${param.rentPrice}" type="number" class="form-control form-control-lg form-control-a" id="rentPrice" name="rentPrice" placeholder="Nhập giá thuê">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="address">Tỉnh / Thành phố</label>
                            <input th:value="${param.address}" type="text" class="form-control form-control-lg form-control-a" id="address" name="address" placeholder="Nhập thành phố">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="city">Quận/Huyện</label>
                            <input th:value="${param.city}" type="text" class="form-control form-control-lg form-control-a" id="city" name="city" placeholder="Nhập quận/huyện">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="district">Phường/Xã</label>
                            <input th:value="${param.district}" type="text" class="form-control form-control-lg form-control-a" id="district" name="district" placeholder="Nhập phường/xã">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="street">Đường</label>
                            <input th:value="${param.street}" type="text" class="form-control form-control-lg form-control-a" id="street" name="street" placeholder="Nhập đường">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="area">Diện tích (m²)</label>
                            <input th:value="${param.area}" type="number" class="form-control form-control-lg form-control-a" id="area" name="area" placeholder="Nhập diện tích">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Tìm Kiếm</button>
                        <button type="reset" class="btn btn-a">Làm Mới</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('#searchFormProperty').submit(function (e) {
            e.preventDefault();
            const inputs = $(this).find('input, select');
            inputs.each(function() {
                if ($(this).val().trim().length === 0) {
                    $(this).attr('name', '');
                }
            });
            this.submit();
        });
        $('button[type="reset"]').click(function (event) {
            event.preventDefault();
            $('form input').val('');
            $('form select').each(function() {
                $(this).val($(this).find('option:first').val());
            });
            $('form textarea').val('');
            $('form input[type="radio"], form input[type="checkbox"]').prop('checked', false);
        });
    </script>

</div>
</html>